.container {
    width: 500px;
    margin-top: 50px;
}

.panel {
    display: flex;
}

.list-group {
    margin-top: 1rem;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.remove {
    color: darkred;
    cursor: pointer;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.form-check-input {
    margin-right: 0.5rem;
}

.done {
    text-decoration: line-through;
}
